<div  class="container">
    <h1 class="mt-4">Servicos</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrum-bitem active">Servicos Prestados</li>
    </ol>
    <form #form="ngForm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Cliente: </label>
                    <select name="" class="form-control" [ngModelOptions] = "{standalone: true}" [(ngModel)]="servico.idCliente">
                        <option value="">Selecione...</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{cliente.nome}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label type="text">Descrição:</label>
                    <input type="text" class="form-control" [(ngModel)]="servico.descricao" name="descricao" id="inputDescricao">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label type="text">Data:</label>
                    <input type="text" class="form-control" [(ngModel)]="servico.data" name="data" id="inputData">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label type="text">Preço:</label>
                    <input type="text" class="form-control" [(ngModel)]="servico.preco" name="descricao" id="inputPreco">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"><button (click) = "onSubmit()" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button></div>
        </div>
    </form>
    </div>